@tailwind base;
@tailwind components;
@tailwind utilities;

/* Critical CSS */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-top: 60px; /* Prevent content from being hidden behind the navbar */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it's above all content */
}

.navbar .placeholder-white::placeholder {
  color: white;
}